venv/
.env
.env.docker

Pipfile
Pipfile.lock
poetry.lock
pyproject.toml

__pycache__/
*.py[cod]
*.so
*.pyd

logs/
*.log
debug.log

.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/

.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

media/*
!media/.gitkeep