venv/
.env

Pipfile
Pipfile.lock
poetry.lock
pyproject.toml

__pycache__/
*.py[cod]
*.so
*.pyd

logs/
*.log
debug.log

.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/

.vscode/
.idea/
*.iml
*.sublime-projec8t
*.sublime-workspace

!media/default
media/materials/*
!media/materials/.gitkeep
media/student_submissions/*
!media/student_submissions/.gitkeep
templates

